<div class="container">

        <form action="/persona/create" method="POST" accept-charset="utf-8" class="form-singin">
            <label>Cedula</label>
            <input type="text" name="cedula" class="form-control"  required>
            <label>Nombres</label>
            <input type="text" name="nombres" class="form-control"  required>
            <label>Apellidos</label>
            <input type="text" name="apellidos" class="form-control"  required>
            <label>Sexo</label>
            <input type="text" name="sexo" class="form-control"  required>
            <label>Numero Apartamento</label>
            <input type="text" name="nroAp" class="form-control"  required>
            <label>Calle</label>
            <input type="text" name="calle" class="form-control"  required>
            <label>Municipio</label>
            <input type="text" name="municipio" class="form-control"  required>
            <label>Estado</label>
            <input type="text" name="estado" class="form-control"  required>
        </br>
        <input type="submit" value="Registrar" />
    
    
    </form>
    <a class="button" href="/persona"> Regresar </a>
    
    </div>